html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    line-height: 1.3;
}

body {
    width: 800px;
    max-width: 90%;
    margin: 5rem auto;
  }

article {
    margin: 5rem 0;
  }

section {
    margin: 3rem 0;
  }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }

article > h1 {
    font-weight: bold;
  }
  
samp {
    display: block;
    margin: 1em 0;
  }

code, kbd {
    color: steelblue;
    font-style: normal;
    font-weight: normal;
  }
  
code.tag::before {
    content: "<";
  }
  
code.tag::after {
    content: ">";
  }

ol.instructions {
    background-color: #f2f2f2;
    padding: 1rem 1rem 1rem 2rem;
    color: #666666;
    font-style: italic;
    font-size: 0.8rem;
    line-height: 1.2;
  }
  
ol.instructions > li {
    margin: 0.4rem 0;
  }
  
ol.instructions > li:first-child { margin-top: 0; }
ol.instructions > li:last-child { margin-bottom: 0; }

aside {
    padding: 1rem 2rem;
    color: white;
    background-color: gray;
    font-size: 0.8rem;
    margin: 1em 0;
  }
  
.overflow-example {
    padding: 1rem;
    border: 1px solid gray;
  }
  
.portrait {
    width: 125px;
  }

.positioned-element {
    width: 50px;
    height: 50px;
    background-color: #ccc; 
  }
  
.static-example,
.relative-example,
.absolute-example,
.fixed-example,
.sticky-example {
    border: 1px solid #999;
    padding: 0 1rem;
  }

  .static-example .positioned-element{
    background-color: green;
    left: 100px;
}

.relative-example .positioned-element{
    background-color: lightblue;
    position: relative;
    left: 100px;
    top: 50px;
    z-index: -1;
}

.absolute-example{
    position: relative;
}

.absolute-example .positioned-element{
    background-color: red;
    position:absolute;
    top:0;
    right: 0;
}

.fixed-example .positioned-element{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: purple;
    z-index: 9999;
}

.sticky-example .positioned-element{
    background-color: orange;
    position: sticky;
    top: 50px;

}





